body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    margin: 100px auto;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.error {
    color: red;
}
